.main{
    width: 1265px;
    height: 50px;
    background-color:hsl(240, 44%, 45%);
    display: flex;

}
.table {
    position: relative;
    top: 6px;
    left: 30px;
    padding: 10px;
}
.one{
    width: 300px;
    height: 50px;
    background-color:hsl(240, 44%, 45%);
}
.para {
    width: 620px;
    height: 50px;
    background-color:hsl(240, 44%, 45%);  
    text-align: center;
    color:white;
    font-style: normal;

}
.but{
    width: 345px;
    height: 50px;
    background-color:hsl(240, 44%, 45%);
    text-align: center;
}
.button{
    background-color: white;
    border:black;
    font-size: 15px;
    padding: 2px 4px 6px 6px;
    margin: 12px 0px 0px 8px ;
}
.main1{
    width: 1265px;
    height: 70px;
    background-color:hsl(240, 9%, 90%);
    display: flex;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}
nav .mainmenu>li{
    display: inline-block;
}
nav a{
    margin:5px 5px 0px 5px;
    text-align: left;
    padding: 12px 15px 12px 15px;
    background-color: springgreen;
    color: white;
    text-decoration: none;
    position: relative;
    top: 26px;
    left: 200px;
    border-radius: 50px;
}
nav li :hover {
    background-color:hsl(240, 44%, 45%);
    cursor: pointer ;   
}
nav .submenu{
    position: absolute;
    display: none;
}
nav .mainmenu>li:hover .submenu{
    display: block;
}
.slide {
    overflow: hidden;
    width: 1265px;
    height: 500px;
    animation: 10s slider infinite linear;
   }
@keyframes slider{
    0%{
        background-image : url(https://tse2.mm.bing.net/th?id=OIP.Mptf3IMW00l1Jc5St8_x4gAAAA&pid=Api&P=0&w=264&h=180)
    }
  25%{
     background-image: url(https://www.saylaniwelfare.com/public_html/images/saylani/slider1.png);
      }
 50%{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.dkrMnjIdNdyqlqa-5g66cwHaC-&pid=Api&P=0&w=412&h=166);
 }
 75%{
   background-image: url(https://tse3.mm.bing.net/th?id=OIP.EbOIUmolgryk-T-__nBzeQHaD4&pid=Api&P=0&w=345&h=182);
 }
 100%{
      background-image: url(https://tse1.mm.bing.net/th?id=OIP.iXmOztXbwBpKLWQvM4pzPAHaC-&pid=Api&P=0&w=449&h=181);
 }
}